﻿<h1 *ngIf="isAddMode">Add Employee</h1>
<h1 *ngIf="!isAddMode">Edit Employee</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="email">Email</label>
            <input type="text" formControlName="email" email="true" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="birthDateString">Birth Date</label>
            <input type="datetime-local" formControlName="birthDateString" [max]="localDatenow" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.birthDateString.errors }" />
            <div *ngIf="submitted && f.birthDateString.errors" class="invalid-feedback">
                <div *ngIf="f.birthDateString.errors.required">Birth Date is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="basicSalary">Basic Salary</label>
            <input type="text" formControlName="basicSalary" id="basicSalary" (input)="formatCurrency(this.form.get('basicSalary').value)" (keypress)="numberOnly($event)" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.basicSalary.errors }" />
            <div *ngIf="submitted && f.basicSalary.errors" class="invalid-feedback">
                <div *ngIf="f.basicSalary.errors.required">Basic Salary is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="status">Status</label>
            <input type="text" formControlName="status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div *ngIf="f.status.errors.required">Status is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="group">Group</label>
            <select formControlName="group" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.group.errors }">
                <option [ngValue]="null" disabled>Select Group</option>
                <option value="Google">Google</option>
                <option value="Alphabet">Alphabet</option>
                <option value="Amazon">Amazon</option>
                <option value="Lyli">Lyli</option>
                <option value="JD">JD</option>
                <option value="Meong">Meong</option>
                <option value="APP">APP</option>
                <option value="Nope">Nope</option>
                <option value="Lagg">Lagg</option>
                <option value="Golooo">Golooo</option>
            </select>
            <div *ngIf="submitted && f.group.errors" class="invalid-feedback">
                <div *ngIf="f.group.errors.required">Group is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="descriptionString">Description</label>
            <input type="datetime-local" formControlName="descriptionString" [max]="localDatenow" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descriptionString.errors }" />
            <div *ngIf="submitted && f.descriptionString.errors" class="invalid-feedback">
                <div *ngIf="f.descriptionString.errors.required">Description is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a href="/employees" class="btn btn-link">Cancel</a>
    </div>
</form>