﻿<div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}!</h1>
        <p>You're logged in!!</p>
        <p><a routerLink="/users">Manage Users</a></p>
        <p><a routerLink="/employees">Manage Employees</a></p>
    </div>
</div>